#canvasOriginal{
  display: none;
}

#canvasEditado{
  margin: auto;
  display: block;
  border:solid 1px;
  border-color: white;
  margin-top: 5px;
  margin-bottom: 10px;
}


#slide{
 margin: 10px;
}

body{
  background-color: #1c1e25;
}

#file-input{
  color: white;
  display: none;
}
